{% extends 'products/layout.html' %}

{%block head %}
<script>
	function new_value(id){
		const re_book = confirm(`this product is booked - re_book?`);
		}
</script>
{% endblock %}

{% block body %}

	<h1>Products</h1>

	<p>Categories : {{prod_category}}</p>

	<form action="{% url 'products:index' %}" method='post'>
		{% csrf_token %}
		<select name = 'category'>
			{% for category in categories %}
			<option value = '{{category}}'>{{category}}</option>
			{% endfor %}
		</select>
		<input type='submit' value='send'>
	</form>

	<p>{{price_list}}</p>

	{% for gp_product in gp_products %}
	
	<form action="{% url 'carts:plus' gp_product.0.id %}" method="post">
		{% csrf_token %}
		{% if gp_product.1 %}
			<div>
				<input type="submit" value="cart +=" disabled=True>
				<input type='number' class = 'qnt' name='pcs' value='{{gp_product.1}}' disabled=True>
				<label>
					pcs. of 
					<a href="{% url 'products:product' gp_product.0.product.id %}">
					{{gp_product.0.product.title}}
					</a> : {{gp_product.0.price}} rub.
				</label>
				<a href="{% url 'carts:change' gp_product.0.id %}">
					<button type="button" class = 'book'>re-book</button>
				</a>
			</div>
		{% else %}
			<div>
				<input type="submit" value="cart +=">
				<input type='number' class = 'qnt' name='pcs' value='{{gp_product.1}}'>
				<label>
					pcs. of 
					<a href="{% url 'products:product' gp_product.0.product.id %}">
					{{gp_product.0.product.title}}
					</a> : {{gp_product.0.price}} rub.
				</label>
			</div>
		{% endif %}
	</form>

	{% endfor %}

{% endblock %}

